{% extends "student/base.html" %}
{% block mainbody %}
<div class="header align-items-center text-center">
    <p><h1>欢迎来到生物大分子工程作业系统！</h1></p>
    <p><h3>欢迎您 {{StuId}} {{StuName}} 同学</h3></p>
    <p><h3>您现在正在操作第<span class="text-danger">{{weeknum}}</span>周</h3></p>
    <p><h5>内容为<span class="text-danger">{{lecture}}</span></h5></p>
    <p><h5>您已提出{{StuQuesNum}}条问题，给出了{{StuRespNum}}条回答</h5></p>
</div>
<div class="col-6 offset-3">
    <p>
        <form action="/student/change_week" method="post">
            {% csrf_token %}
            <div class="input-group">
                <div class="input-group-prepend">
                    <a href="prev_week" class="btn btn-light">上一周</a>
                </div>
                <div class="input-group-prepend">
                    <span class="input-group-text">跳转到</span>
                </div>
                <input type="text" class="form-control" placeholder="几" rows="1" name="weeknum" resize="none">
                <div class="input-group-append">
                    <span class="input-group-text">周</span>
                </div>
                <div class="input-group-append">
                    <button class="btn btn-secondary" type="submit">跳转</button>
                </div>
                <div class="input-group-append">
                    <a href="next_week" class="btn btn-light">下一周</a>
                </div>
            </div>
        </form>
    </p>
    <p><a href="submit" class="btn btn-block btn-success btn-xl">提出问题</a></p>
    <p><a href="respond_evaluate" class="btn btn-block btn-primary btn-xl">评价并回答问题</a></p>
    <p>
        <div class="btn-group btn-block" role="group">
            <a href="evaluate" class="btn btn-secondary w-50 btn-xl">评价问题</a>
            <a href="respond" class="btn btn-info w-50 btn-xl">回答问题</a>
        </div>
    </p>
    <p><a href="display_all" class="btn btn-block btn-light btn-xl">查看全部结果</a></p>
    <p><a href="display_mine" class="btn btn-block btn-light btn-xl">查看个人结果</a></p>
    <p><a href="/logout" class="btn btn-block btn-dark btn-xl">注销账户</a></p>
</div>
{% endblock %}