{% extends "admin/base.html" %}
{% block mainbody %}
<div class="header align-items-center text-center">
    {% block display_head %}
    {% endblock display_head %}
    <p><h5>一共有{{quesNum}}条问题</h5></p>
    <p>
        <span class="table-primary">深色</span>的为管理员回答
        <br>
        <span class="table-info">浅色</span>的为学生回答
    </p>
</div>
<div class="col-10 offset-1">
    <form action="/admin/display_all" method="post">
        {% csrf_token %}
        <div class="btn-group btn-block" role="group">
            <button type="submit" class="btn w-50 btn-secondary">隐藏已被删除的问题</button>
            <button type="submit" name="Setting" value="I" class="btn w-50 btn-tertiary">显示已被删除的问题</button>
        </div>
    </form>
    <br>
    {% block display_export %}
    {% endblock display_export %}
    <br>
    <table class="table table-hover align-items-center text-center">
        <thead class="thead-light">
            <tr>
                <th scope="col">#</th>
                <th scope="col">id</th>
                <th scope="col" class="w-50">问题</th>
                <th scope="col">附议<br>不喜欢</th>
                <th scope="col">提问人/<br>回答人</th>
                <th scope="col">时间</th>
            </tr>
        </thead>
        <tbody>
            {% for i_,i in questions.items %}
                {% if i.visible %}
                    <tr>
                        <th rowspan="{{i.rowNum}}" scope="row" class="table-tertiary">{{i.cnt}}</th>
                        <td rowspan="{{i.rowNum}}" scope="row" class="table-light">{{i_}}</th>
                        <td>{{i.question}}</td>
                        <td class="table-secondary">
                            <div class="text-success">
                                {{i.seconded}} <i class="fas fa-regular fa-thumbs-up"></i>
                            </div>
                            <div class="text-danger">
                                {{i.disliked}} <i class="fas fa-regular fa-thumbs-down"></i>
                            </div>
                        </td>
                        <td>{{i.asker}}</td>
                        <td>{{i.date}}<br><span class="text-muted">{{i.time}}<span></td>
                    </tr>
                    {% for j_,j in i.responses.items %}
                        {% if j.adminrespond %}
                            <tr>
                                <td colspan="2" class="table-primary">{{j.response}}</td>
                                <td class="table-primary">{{j.responder}}</td>
                                <td class="table-primary">{{j.date}}<br><span class="text-muted">{{j.time}}<span></td>
                            </tr>
                        {% else %}
                            <tr>
                                <td colspan="2" class="table-info">{{j.response}}</td>
                                <td class="table-info">{{j.responder}}</td>
                                <td class="table-info">{{j.date}}<br><span class="text-muted">{{j.time}}<span></td>
                            </tr>
                        {% endif %}
                    {% endfor %}
                {% else %}
                    <tr>
                        <th rowspan="{{i.rowNum}}" scope="row" class="table-dark">{{i.cnt}}</th>
                        <td rowspan="{{i.rowNum}}" scope="row" class="table-dark">{{i_}}</th>
                        <td class="table-dark">{{i.question}}</td>
                        <td class="table-dark">
                            <div class="text-success">
                                {{i.seconded}} <i class="fas fa-regular fa-thumbs-up"></i>
                            </div>
                            <div class="text-danger">
                                {{i.disliked}} <i class="fas fa-regular fa-thumbs-down"></i>
                            </div>
                        </td>
                        <td class="table-dark">{{i.asker}}</td>
                        <td class="table-dark">{{i.date}}<br><span class="text-muted">{{i.time}}<span></td>
                    </tr>
                    {% for j_,j in i.responses.items %}
                        {% if j.adminrespond %}
                            <tr>
                                <td colspan="2" class="table-dark">{{j.response}}</td>
                                <td class="table-dark">{{j.responder}}</td>
                                <td class="table-dark">{{j.date}}<br><span class="text-muted">{{j.time}}<span></td>
                            </tr>
                        {% else %}
                            <tr>
                                <td colspan="2" class="table-dark">{{j.response}}</td>
                                <td class="table-dark">{{j.responder}}</td>
                                <td class="table-dark">{{j.date}}<br><span class="text-muted">{{j.time}}<span></td>
                            </tr>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}