{% extends "admin/base.html" %}
{% block mainbody %}
<div class="header align-items-center text-center">
    <p><h1>欢迎来到生物大分子工程作业系统！</h1></p>
    <p><h3>欢迎您 {{AdminName}} 管理员</h3></p>
    <p><h3>您现在正在操作第<span class="text-danger">{{weeknum}}</span>周</h3></p>
    <p><h5>内容为<span class="text-danger">{{lecture}}</span></h5></p>
</div>
<div class="col-6 offset-3">
    <p>
        <form action="/change_week" method="post">
            {% csrf_token %}
            <div class="input-group">
                <div class="input-group-prepend">
                    <a href="/prev_week" class="btn btn-light">上一周</a>
                </div>
                <div class="input-group-prepend">
                    <span class="input-group-text">跳转到</span>
                </div>
                <input type="text" class="form-control" placeholder="几" rows="1" name="weeknum" resize="none">
                <div class="input-group-append">
                    <span class="input-group-text">周</span>
                </div>
                <div class="input-group-append">
                    <button class="btn btn-secondary" type="submit">跳转</button>
                </div>
                <div class="input-group-append">
                    <a href="/next_week" class="btn btn-light">下一周</a>
                </div>
            </div>
        </form>
    </p>
    <p><a href="respond" class="btn btn-block btn-info btn-xl">回答问题</a></p>
    <p><a href="display_all" class="btn btn-block btn-secondary btn-xl">查看全部结果</a></p>
    <p><a href="manage_student" class="btn btn-block btn-warning btn-xl">修改学生信息</a></p>
    <p><a href="manage_admin" class="btn btn-block btn-warning btn-xl">修改管理员信息</a></p>
    <p><a href="/logout" class="btn btn-block btn-dark btn-xl">注销账户</a></p>
</div>
{% endblock %}